<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- p-kv START -->
<%- include('./_include/_p-kv') %>
<!-- p-kv END -->

<div class="l-contents">

<main class="l-main">

<p>ココにコンテンツ</p>

</main>

</div>

<%- include('./_include/_l-footer') %>

</div>
<%- include('./_include/common/_foot') %>