<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- p-kv START -->
<%- include('./_include/_p-kv') %>
<!-- p-kv END -->

<div class="l-contents">

<main class="l-main">

<p>コーポレートサイトを効率的に制作するためのCSSフレームワーク。<br>必要なモジュールが揃ったレスポンシブテンプレート。制作用のカスタマイズとしてお使いください。</p>

<h2 class="c-h2">アイコン</h2>

<h3 class="c-h3">バツ</h3>
<div class="c-icon -cross"></div>

<h3 class="c-h3">三角矢印</h3>
<div class="c-icon -arrow1"></div>

<h3 class="c-h3">矢印</h3>
<div class="c-icon -arrow2"></div>

</main>

</div>

<%- include('./_include/_l-footer') %>

</div>
<%- include('./_include/common/_foot') %>