<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l-container">
<%- include('./_include/_l-header') %>
<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l-breadcrumb END -->
<div class="l-contents">
<main class="l-main" role="main">
<div class="c-pageHeading">
<h1 class="c-h1">Component</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。</p>
</div>
<section class="p-temp">
<h2 class="c-h2">c-btn</h2>
<p>aタグ／inputタグ／button／どんなタグでも同じとなる。<br>
min-widthを指定 -w200などヘルパークラスで幅を指定する。</p>
<h3 class="c-h3">Helper</h3>
<p>c-btn 縦幅／-h35、横幅／-w200、色／-color_red、パターン／-btn1 −btn2</p>
<p>c-btnWrapグループ化 -center -between -left -right</p>
<div class="p-temp__code">
<%- include('./_include/_c-btn') %>
</div>
</section>
<section class="p-temp">
<h2 class="c-h2">c-tag</h2>
<p>タグやカテゴリ名などを指定。</p>
<div class="p-temp__code">
<div class="p-temp__module">
<div class="c-tags">
<span class="c-tag"><a href="tag1">タグ1</a></span>
<span class="c-tag"><a href="tag2">タグ2</a></span>
<span class="c-tag"><a href="tag3">タグ3</a></span>
<span class="c-tag"><a href="tag3">タグ4</a></span>
<span class="c-tag"><a href="tag3">タグ5</a></span>
</div>
</div>
</div>
<div class="p-temp__code">
<div class="p-temp__module">
<div class="c-tag__group">
<span class="c-tag"><a href="tag1">タグ1</a></span>
<span class="c-tag"><a href="tag2">タグ2</a></span>
<span class="c-tag"><a href="tag3">タグ3</a></span>
<span class="c-tag"><a href="tag3">タグ4</a></span>
<span class="c-tag"><a href="tag3">タグ5</a></span>
</div>
</div>
</div>
</section>
<section class="p-temp">
<h2 class="c-h2">c-cat</h2>
<p>タグやカテゴリ名などを指定。</p>
<div class="p-temp__code">
<div class="p-temp__module">
<div class="c-cats">
<span class="c-cat"><a href="tag1">カテゴリ1</a></span>
<span class="c-cat"><a href="tag2">カテゴリ2</a></span>
<span class="c-cat"><a href="tag3">カテゴリ3</a></span>
<span class="c-cat"><a href="tag3">カテゴリ1</a></span>
<span class="c-cat"><a href="tag3">カテゴリ5</a></span>
</div>
</div>
</div>
<div class="p-temp__code">
<div class="p-temp__module">
<div class="c-cat__group -center">
<span class="c-cat"><a href="tag1">カテゴリ1</a></span>
<span class="c-cat"><a href="tag2">カテゴリ2</a></span>
<span class="c-cat"><a href="tag3">カテゴリ3</a></span>
<span class="c-cat"><a href="tag3">カテゴリ1</a></span>
<span class="c-cat"><a href="tag3">カテゴリ5</a></span>
</div>
</div>
</div>
</section>
<section class="p-temp">
<h2 class="c-h2">H2見出し</h2>
<p>ここにコンテンツ</p>
<div class="p-temp__code">
<div class="c-btnWrap -center">
<a class="c-btn" role="button">btn</a>
<input type="submit" class="c-btn" value="btn">
<button class="c-btn" role="button">btn</button>
</div>
</div>
</section>
</main>
</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>