<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb') %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main">

<div class="c-pageHeading">
<h1 class="c-pageHeading__title">
<span class="c-pageHeading__jp">一覧/カード</span>
<span class="c-pageHeading__en">card</span>
</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>


<!-- p-card START -->
<section class="p-card">

<h2>横2列</h2>

<div class="p-card__list2 __grid _row">
<article class="p-card__item c-card1 __grid__row _sp_row2 _pc_row6">
<a class="c-card1__link" href="">
<figure class="c-card1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-card1__body">
<h2 class="c-card1__title">タイトルが入ります。</h2>
<p class="c-card1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c-card1__action">
action
</div>
</a>
</article>

<article class="c-card1 __grid__row _sp_row2 _pc_row6">
<a class="c-card1__link" href="">
<figure class="c-card1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-card1__body">
<h2 class="c-card1__title">タイトルが入ります。</h2>
<p class="c-card1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c-card1__action">
action
</div>
</a>
</article>

<article class="c-card1 __grid__row _sp_row2 _pc_row6">
<a class="c-card1__link" href="">
<figure class="c-card1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-card1__body">
<h2 class="c-card1__title">タイトルが入ります。</h2>
<p class="c-card1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c-card1__action">
action
</div>
</a>
</article>

<article class="c-card1 __grid__row _sp_row2 _pc_row6">
<a class="c-card1__link" href="">
<figure class="c-card1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-card1__body">
<h2 class="c-card1__title">タイトルが入ります。</h2>
<p class="c-card1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c-card1__action">
action
</div>
</a>
</article>

</div>

</section>
<!-- p-card END -->

<!-- l-footer START -->
<%- include('./_include/_p-pagination') %>
<!-- l-footer END -->

</main>


</div>
<!-- l-footer START -->
<%- include('./_include/_l-footer') %>
<!-- l-footer END -->
</div>
<%- include('./_include/common/_foot') %>