<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb') %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main">

<div class="c-pageHeading">
<h1 class="c-pageHeading__title">
<span class="c-pageHeading__jp">一覧/リスト</span>
<span class="c-pageHeading__en">list</span>
</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>

<!-- p-archive START -->
<section class="p-archive">

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

<article class="c-archive1">
<a class="c-archive1__link" href="">
<figure class="c-archive1__figure">
<img src="https://dummyimage.com/300x200/cccccc/686a82.gif">
</figure>
<div class="c-archive1__body">
<h2 class="c-archive1__title">タイトルが入ります。</h2>
<p class="c-archive1__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive1__meta">
<div class="c-archive1__author">Author : 投稿者名</div>
<div class="c-archive1__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive1__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>

</section>
<!-- p-archive END -->

<!-- l-footer START -->
<%- include('./_include/_p-pagination') %>
<!-- l-footer END -->

</main>

</div>
<!-- l-footer START -->
<%- include('./_include/_l-footer') %>
<!-- l-footer END -->
</div>
<%- include('./_include/common/_foot') %>