<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb') %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main">
<!-- p-privacy START -->

<section class="p-privacy">
<h2 class="p-privacy__title">タイトルが入ります。</h2>
<div class="p-privacy__text">
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

<ul class="p-privacy__list -ul">
<li class="p-privacy__item">順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。</li>
<li class="p-privacy__item">順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。</li>
<li class="p-privacy__item">順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。</li>
</ul>

<ol class="p-privacy__list -ol">
<li class="p-privacy__item">番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。</li>
<li class="p-privacy__item">番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。</li>
<li class="p-privacy__item">番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。</li>
</ol>
</div>
</section>

<section class="p-privacy">
<h2 class="p-privacy__title">タイトルが入ります。</h2>
<div class="p-privacy__text">
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
</section>

<!-- p-privacy END -->
</main>

</div>
<!-- l-footer START -->
<%- include('./_include/_l-footer') %>
<!-- l-footer END -->
</div>
<%- include('./_include/common/_foot') %>