<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb') %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main">

<!--p-single-->
<article class="p-single">
<div class="p-single__meta">
<div class="p-single__author">Author : 投稿者名</div>
<div class="p-single__cat"><a href="">Category：カテゴリ名</a></div>
<time class="p-single__date">Date：2020.01.01</time>
</div>
<h1 class="p-single__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>

<div class="p-single__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>

<div class="p-single__entry">

<h2>段落／文字種類</h2>
これはテスト投稿ですこれは<strong>太字strong</strong>これは<em>色付き文字em</em>ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿です<a href="http://link">リンクURL</a>これはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿です これはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿です

<h2>写真＋キャプション</h2>
<figure class="figure">
<img class="size-full" src="http://placehold.it/600x400" alt="" width="600" height="400">
<figcaption>キャプション</figcaption>
</figure>

<h2>ulリスト／olリスト</h2>
<ul>
<li>リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。</li>
<li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
<li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
</ul>
<ol>
<li>リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。</li>
<li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
<li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
</ol>

<h2>SNS</h2>
<ul class="p-single__sns">
<li class="p-single__snsItem -twitter">
<a href="">Twitter<span class="p-single__snsText">Tweet</span></a>
</li>
<li class="p-single__snsItem -facebook">
<a href="">Facebook<span class="p-single__snsText">Share</span></a>
</li>
<li class="p-single__snsItem -line">
<a href="">LINE<span class="p-single__snsText">送る</span></a>
</li>
</ul>
</div>
</article>

</main>

</div>
<!-- l-footer START -->
<%- include('./_include/_l-footer') %>
<!-- l-footer END -->
</div>
<%- include('./_include/common/_foot') %>