<%- include('./_include/common/_head') %>
<div id="pagetop" class="l_container">
<%- include('./_include/_l_header') %>
<!-- l_breadcrumb START -->
<%- include('./_include/_l_breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l_breadcrumb END -->
<div class="l_contents">
<main class="l_main">
<div class="c_pageHeading">
<h1 class="c_pageHeading__title">
<span class="c_pageHeading__jp">一覧/カード</span>
<span class="c_pageHeading__en">card</span>
</h1>
<p class="c_pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>
<!-- c_cards START -->
<h2>横2列</h2>
<section class="c_cards">
<article class="c_cards__item c_card">
<a class="c_card__link" href="">
<figure class="c_card__figure"><img alt="" src="http://placehold.it/300x200" width="" height=""></figure>
<div class="c_card__body">
<h2 class="c_card__title">タイトルが入ります。</h2>
<p class="c_card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c_card__action">action</div>
</a>
</article>
<article class="c_cards__item c_card">
<a class="c_card__link" href="">
<figure class="c_card__figure"><img alt="" src="http://placehold.it/300x200" width="" height=""></figure>
<div class="c_card__body">
<h2 class="c_card__title">タイトルが入ります。</h2>
<p class="c_card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c_card__action">action</div>
</a>
</article>
<article class="c_cards__item c_card">
<a class="c_card__link" href="">
<figure class="c_card__figure"><img alt="" src="http://placehold.it/300x200" width="" height=""></figure>
<div class="c_card__body">
<h2 class="c_card__title">タイトルが入ります。</h2>
<p class="c_card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c_card__action">action</div>
</a>
</article>
<article class="c_cards__item c_card">
<a class="c_card__link" href="">
<figure class="c_card__figure"><img alt="" src="http://placehold.it/300x200" width="" height=""></figure>
<div class="c_card__body">
<h2 class="c_card__title">タイトルが入ります。</h2>
<p class="c_card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c_card__action">action</div>
</a>
</article>
<article class="c_cards__item c_card">
<a class="c_card__link" href="">
<figure class="c_card__figure"><img alt="" src="http://placehold.it/300x200" width="" height=""></figure>
<div class="c_card__body">
<h2 class="c_card__title">タイトルが入ります。</h2>
<p class="c_card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="c_card__action">action</div>
</a>
</article>
</section>
<!-- c_card END -->
</main>
</div>
<%- include('./_include/_l_footer') %>
</div>
<%- include('./_include/common/_foot') %>
