<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l-container">
<%- include('./_include/_l-header') %>
<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l-breadcrumb END -->
<div class="l-contents">
<main class="l-main" role="main">
<div class="c-pageHeading">
<h1 class="c-pageHeading__title">
<span class="c-pageHeading__jp">よくあるご質問</span>
<span class="c-pageHeading__en">faq</span>
</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>
<!-- p-privacy START -->
<div class="p-faq">
<section class="p-faq__section">
<h2 class="p-privacy__h2">ご質問カテゴリ1</h2>
<dl class="p-faq__dl">
<dt class="p-faq__dt">質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。</dt>
<dd class="p-faq__dd">
<p>質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。</p>
</dd>
</dl>
<dl class="p-faq__dl">
<dt class="p-faq__dt">質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。</dt>
<dd class="p-faq__dd">
<p>質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。</p>
</dd>
</dl>
</section>
<section class="p-faq__section">
<h2 class="p-privacy__h2">ご質問カテゴリ2</h2>
<dl class="p-faq__dl">
<dt class="p-faq__dt">質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。</dt>
<dd class="p-faq__dd">
<p>質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。</p>
</dd>
</dl>
<dl class="p-faq__dl">
<dt class="p-faq__dt">質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。</dt>
<dd class="p-faq__dd">
<p>質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。</p>
</dd>
</dl>
</section>
</div>
<!-- p-privacy END -->
</main>
</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>