<%- include('./_include/common/_head') %>
<div id="pagetop" class="l-container">
<%- include('./_include/_l-header') %>
<%- include('./_include/_p-kv') %>
<div class="l-contents">
<main class="l-main">
<section class="p-topSection">
<h2 class="p-topSection__title"><span class="jp">見出し 日本語</span><span class="en">title EN</span></h2>
<p class="p-topSection__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</section>
<section class="p-topSection">
<h2 class="p-topSection__title"><span class="jp">見出し 日本語</span><span class="en">title EN</span></h2>
<p class="p-topSection__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</section>
</main>
</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>
