<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<!-- c-kv START -->
<%- include('./_include/_p-kv') %>
<!-- c-kv END -->

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb') %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main">

<div class="c-pageHeading">
<h1 class="c-h1">ページタイトル</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。</p>
</div>

<h2 class="c-h2">H2見出し</h2>
<p>ここにコンテンツ</p>


</main>

</div>

<%- include('./_include/_l-footer') %>

</div>
<%- include('./_include/common/_foot') %>