
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l_container">
<%- include('./_include/_l_header') %>
<!-- l_breadcrumb START -->
<%- include('./_include/_l_breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l_breadcrumb END -->
<div class="l_contents">
<main class="l_main">
<div class="c_pageHeading">
<h1 class="c_pageHeading__title">
<span class="c_pageHeading__jp">よくあるご質問</span>
<span class="c_pageHeading__en">faq</span>
</h1>
<p class="c_pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>
<!-- p_privacy START -->
<div class="p_faq">
<section class="p_faq__section">
<h2 class="p_privacy__h2">ご質問カテゴリ1</h2>
<dl class="p_faq__item">
<dt class="p_faq__dt">質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。</dt>
<dd class="p_faq__dd">
<p>質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。</p>
</dd>
</dl>
<dl class="p_faq__dl">
<dt class="p_faq__dt">質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。</dt>
<dd class="p_faq__dd">
<p>質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。</p>
</dd>
</dl>
</section>
<section class="p_faq__section">
<h2 class="p_privacy__h2">ご質問カテゴリ2</h2>
<dl class="p_faq__dl">
<dt class="p_faq__dt">質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。質問内容1が入ります。</dt>
<dd class="p_faq__dd">
<p>質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。質問回答1が入ります。</p>
</dd>
</dl>
<dl class="p_faq__dl">
<dt class="p_faq__dt">質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。質問内容2が入ります。</dt>
<dd class="p_faq__dd">
<p>質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。質問回答2が入ります。</p>
</dd>
</dl>
</section>
</div>
<!-- p_privacy END -->
</main>
</div>
<%- include('./_include/_l_footer') %>
</div>
<%- include('./_include/common/_foot') %>
