<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l-container">
<%- include('./_include/_l-header') %>
<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l-breadcrumb END -->
<div class="l-contents">
<main class="l-main" role="main">
<div class="c-pageHeading">
<h1 class="c-pageHeading__title">
<span class="c-pageHeading__jp">一覧/リスト</span>
<span class="c-pageHeading__en">list</span>
</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>
<!-- p-archive START -->
<section class="p-archives">
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
<article class="c-archive">
<a class="c-archive__link" href="">
<figure class="c-archive__figure"><img alt="" src="http://placehold.it/300x200"></figure>
<div class="c-archive__body">
<h2 class="c-archive__title">タイトルが入ります。</h2>
<p class="c-archive__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<div class="c-archive__meta">
<div class="c-archive__author">Author : 投稿者名</div>
<div class="c-archive__cat"><object data="" type=""><a href="">Category：カテゴリ名</a></object></div>
<time class="c-archive__date">Date：2020.01.01</time>
</div>
</div>
</a>
</article>
</section>
<!-- p-archive END -->
<%- include('./_include/_p-pagination') %>
</main>
</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>