
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l_container">
<%- include('./_include/_l_header') %>
<!-- l_breadcrumb START -->
<%- include('./_include/_l_breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'Category',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l-breadcrub END -->
<div class="l_contents">
<main class="l_main">
<!--p-single-->
<article class="p_single">
<div class="p_single__meta">
<div class="p_single__author">Author : 投稿者名</div>
<div class="p_single__cat"><a href="">Category：カテゴリ名</a></div>
<time class="p_single__date">Date：2020.01.01</time>
</div>
<h1 class="p_single__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>
<div class="p_single__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
<div class="p_single__entry">
</article>
</main>
</div>
<%- include('./_include/_l_footer') %>
</div>
<%- include('./_include/common/_foot') %>
