
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l_container">
<%- include('./_include/_l_header') %>
<!-- l_breadcrumb START -->
<%- include('./_include/_l_breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l_breadcrumb END -->
<div class="l_contents">
<main class="l_main">
<div class="c_pageHeading">
<h1 class="c_pageHeading__title">
<span class="c_pageHeading__jp">プライバシーポリシー</span>
<span class="c_pageHeading__en">privacy policy</span>
</h1>
<p class="c_pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>
<!-- p_privacy START -->
<div class="p_privacy">
<section class="p_privacy__section">
<h2 class="p_privacy__h2">タイトルが入ります。</h2>
<div class="p_privacy__text">
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<ul class="p_privacy__list -ul">
<li class="p_privacy__item">順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。</li>
<li class="p_privacy__item">順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。</li>
<li class="p_privacy__item">順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。順不同リストが入ります。</li>
</ul>
<ol class="p_privacy__list -ol">
<li class="p_privacy__item">番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。</li>
<li class="p_privacy__item">番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。</li>
<li class="p_privacy__item">番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。番号リストが入ります。</li>
</ol>
</section>
<section class="p_privacy__section">
<h2 class="p_privacy__h2">タイトルが入ります。</h2>
<div class="p_privacy__text">
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<h3 class="p_privacy__h3">タイトルが入ります。</h3>
<div class="p_privacy__text">
<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
<div class="p_privacy__note">
<p>注釈が入ります。</p>注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。
</div>
</section>
</div>
<!-- p_privacy END -->
</main>
</div>
<%- include('./_include/_l_footer') %>
</div>
<%- include('./_include/common/_foot') %>
