<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">

<%- include('./_include/_l-header', {id: pageId}) %>

<%- include('./_include/_l-breadcrumb') %>

<div class="l-contents">

<main class="l-main">
<!-- p-notfound START -->
<%- include('./_include/_p-notfound') %>
<!-- p-notfound END -->
</main>

</div>
<%- include('./_include/_l-footer') %>

</div>
<%- include('./_include/common/_foot') %>