<%- include('./_include/common/_head') %>
<div id="pagetop" class="l_container">
<%- include('./_include/_l_header') %>
<!-- l_breadcrumb START -->
<%- include('./_include/_l_breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l_breadcrumb END -->
<div class="l_contents">
<main class="l_main">
<div class="c_pageHeading">
<h1 class="c_pageHeading__title">
<span class="c_pageHeading__jp">一覧/カード</span>
<span class="c_pageHeading__en">card</span>
</h1>
<p class="c_pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>
<section class="c_cards">
<!-- card START -->
<article class="c_cards__item c_card">
<a class="c_card__link" href="">
<picture class="c_card__img">
<img src="http://placehold.it/300x200" width="300" height="200" decoding="async" alt="">
</picture>
<div class="c_card__body">
<h2 class="c_card__title"><%- item.title %></h2>
<p class="c_card__text"><%- item.text %></p>
</div>
<div class="c_card__action">More</div>
</a>
</article>
<!-- card END -->
</section>
</main>
</div>
<%- include('./_include/_l_footer') %>
</div>
<%- include('./_include/common/_foot') %>
