<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l-container">
<%- include('./_include/_l-header') %>
<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l-breadcrumb END -->
<div class="l-contents">
<main class="l-main" role="main">
<!-- p-notfound START -->
<div class="p-notfound">
<div class="p-notfound__inner">
<div class="p-notfound__title">お探しのページは見つかりません。</div>
<div class="p-notfound__text">Page Not Found.</div>
</div>
<div class="p-notfound__lead">お探しのページは見つかりません。<br> 一時的にアクセスできない状態か、
<br> 移動もしくは、削除されてしまった可能性があります。
</div>
<div class="p-notfound__more">
<a href="">トップページへ</a>
</div>
</div>
<!-- p-notfound END -->
</main>
</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>