
<%- include('./_include/common/_head') %>
<div id="pagetop" class="l-container">
<%- include('./_include/_l-header') %>
<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'catName',
url: '/'
},
{
name: 'pageName'
}
]
}) %>
<!-- l-breadcrumb END -->
<div class="l-contents">
<main class="l-main">
<div class="c-pageHeading">
<h1 class="c-h1">ページタイトル</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。</p>
</div>
<!-- p-localNav START -->
<%- include('./_include/_p-localNav', {
items: [
{
name: 'titleName2-1',
url: '#',
current: true
},
{
name: 'titleName2-2',
url: '#'
},
{
name: 'titleName2-3',
url: '#'
},
{
name: 'titleName2-4',
url: '#'
},
{
name: 'titleName2-5',
url: '#'
}
]
}) %>
<!-- p-localNav END -->
<h2 class="c-h2">H2見出し</h2>
<p>ここにコンテンツ</p>
</main>
<%- include('./_include/_l-sub') %>
</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>
