<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">

<%- include('./_include/_l-header') %>

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
  breadcrumb: [
    {
      name: 'Home',
      url: '/'
    },
    {
      name: 'catName',
      url: '/'
    },
    {
      name: 'pageName'
    }
  ]
}) %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main" role="main">

<div class="c-pageHeading">
<h1 class="c-pageHeading__title">
<span class="c-pageHeading__jp">フォーム</span>
<span class="c-pageHeading__en">form</span>
</h1>
<p class="c-pageHeading__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</p>
</div>

<!-- p-form START -->
<form class="p-form" role="form" aria-label="">
<section class="p-form__lead">
<p class="p-form__leadText">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

</section>
<h3>input Text</h3>
<div class="p-form__group">
<dl class="p-form__column">
<dt class="p-form__columnTitle"><label for="hoge_inputText" class="p-form__label">dummy title<span class="p-form__must">必須</span></label></dt>
<dd class="p-form__columnBody">
<div class="c-input">
<input type="text" id="hoge_inputText" placeholder="テキストが入ります。" required>
</div>
<span class="p-form__columnError">エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。</span>
</dd>
</dl>
</div>

<h3>Text Areas</h3>
<div class="p-form__group">
<dl class="p-form__column">
<dt class="p-form__columnTitle"> <label for="hoge_textarea" class="p-form__label">dummy title<span class="p-form__must">必須</span></label></dt>
<dd class="p-form__columnBody">
<div class="c-textarea">
<textarea id="hoge_textarea" class="c-textarea" placeholder="テキストが入ります。"></textarea>
</div>


<span class="p-form__columnError">エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。</span>
</dd>
</dl>
</div>

<h3>Select Menus</h3>
<div class="p-form__group">
<dl class="p-form__column">
<dt class="p-form__columnTitle"><label for="hoge_select" class="p-form__label">dummy title<span class="p-form__must">必須</span></label></dt>
<dd class="p-form__columnBody">
<div class="c-select">
<select id="hoge_select">
<option value="husker">Husker</option>
<option value="starbuck">Starbuck</option>
<option value="hotdog">Hot Dog</option>
<option value="apollo">Apollo</option>
</select>
</div>
<span class="p-form__columnError">エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。</span>
</dd>
</dl>
</div>

<h3>Checkbox</h3>
<div class="p-form__group">
<dl class="p-form__column">
<dt class="p-form__columnTitle"><label for="hoge_select" class="p-form__label">dummy title<span class="p-form__must">必須</span></label></dt>
<dd class="p-form__columnBody">
<fieldset class="large-6 columns c-checkbox">
<legend>Check these out</legend>
<input id="checkbox1" type="checkbox"><label for="checkbox1" class="c-checkbox__label">Checkbox 1</label>
<input id="checkbox2" type="checkbox"><label for="checkbox2" class="c-checkbox__label">Checkbox 2</label>
<input id="checkbox3" type="checkbox"><label for="checkbox3" class="c-checkbox__label">Checkbox 3</label>
</fieldset>
<span class="p-form__columnError">エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。</span>
</dd>
</dl>
</div>

<h3>Radio</h3>
<div class="p-form__group">
<dl class="p-form__column">
<dt class="p-form__columnTitle"><label for="hoge_select" class="p-form__label">dummy title<span class="p-form__must">必須</span></label></dt>
<dd class="p-form__columnBody">
<fieldset class="large-6 columns c-radio">
<legend>Choose Your Favorite</legend>
<input type="radio" name="pokemon" value="Red" id="pokemonRed" required>
<label for="pokemonRed" class="c-radio__label">Red</label>
<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
<label for="pokemonBlue" class="c-radio__label">Blue</label>
<input type="radio" name="pokemon" value="Yellow" id="pokemonYellow">
<label for="pokemonYellow" class="c-radio__label">Yellow</label>
</fieldset>
<span class="p-form__columnError">エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。</span>
</dd>
</dl>
</div>

<div class="p-form__privacy">
<div class="p-form__privacyInner"> プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。</div>
</div>

<div class="c-btnWrap -center">
<span class="c-btn -icon_inline -left"><a href="">戻る</a></span>
<span class="c-btn -icon_inline -right"><button role="button">送信する</button></span>
</div>

</form>
<!-- p-form END -->
</main>

</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>